@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1 {
    @apply text-[36px] leading-[44px] font-raleway font-extrabold;
  }
  h2 {
    @apply text-[28px] leading-[34px] font-raleway font-bold;
  }
  h3 {
    @apply text-[28px] leading-[32px] font-raleway font-extrabold uppercase;
  }
  h4 {
    @apply text-[22px] leading-[28px] font-raleway font-bold;
  }
  .title-1 {
    @apply text-[18px] leading-[20px] font-raleway font-bold;
  }
  .title-2 {
    @apply text-[15px] leading-[20px] font-raleway font-bold;
  }
  .title-3 {
    @apply text-[13px] leading-[16px] font-raleway font-semibold;
  }
  .button-lg {
    @apply text-[18px] leading-[24px] font-raleway font-bold;
  }
  .button-md {
    @apply text-[15px] leading-[20px] font-raleway font-bold;
  }
  .button-sm {
    @apply text-[13px] leading-[20px] font-raleway font-bold;
  }
  .tag {
    @apply text-[11px] leading-[16px] font-raleway font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-inter font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-[20px] font-inter font-normal;
  }
  .caption-1 {
    @apply text-[12px] leading-[14px] font-inter font-normal;
  }
  .caption-2 {
    @apply text-[10px] leading-[12px] font-inter font-medium;
  }
  .number-lg {
    @apply text-[32px] leading-[40px] font-inter font-semibold;
  }
  .number-md {
    @apply text-[18px] leading-[20px] font-inter font-bold;
  }
  .number-sm {
    @apply text-[13px] leading-[16px] font-inter font-semibold;
  }
  .bg-gradient-1{
     @apply bg-gradient-to-r from-[#00C8B0] from-[2%] via-[#751EDA] via-[30%] via-[#E211AF] via-[57%] to-[#FFF700] to-[96%];
  }
  .bg-linear-1{
     @apply bg-gradient-to-r from-[#FFB800] from-[7%] via-[#28A7E3] via-[68%] to-[#00D6BD] to-[103%];
  }
  .bg-linear-2{
     @apply bg-gradient-to-r from-[#00DEC4] from-[8%] to-[#0998DB] to-[54%];
  }
}
